.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.inner {
  width: 100vw;
  margin: 100px 0;
}

.content img {
  max-width: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.content.open {
  opacity: 1;
  margin-top: 100px;
  visibility: visible;
  transition: all .5s ease-in-out;
}
.content {
  opacity: 0;
  margin-top: 120px;
  visibility: hidden;
  transition: all .5s ease-in-out;
}

.brand-logo {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.white-font {
  color: white;
}
