.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.inner {
  width: 100vw;
  margin: 100px 0;
}

.content img {
  max-width: 100%;
  cursor: pointer;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.content.open {
  opacity: 1;
  margin-top: 100px;
  visibility: visible;
  transition: all .5s ease-in-out;
}
.content {
  opacity: 0;
  margin-top: 120px;
  visibility: hidden;
  transition: all .5s ease-in-out;
}

.fake-body {
  all: initial;
}

.brand-logo {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.white-font {
  color: white;
}

.xepub-highlight {
  animation: highlight 5s;
}
@keyframes highlight {
  from {
    background-color: orange;
  }
}

/* Material Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/font/material-icon.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
