body > .modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;

  .background {
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    display: grid;
    place-items: center;

    .container {
      max-height: 80vh;
      width: 800px;
      background-color: var(--back-color);
      padding: 0;
      display: flex;
      flex-direction: column;
      transform: scale(.8);
      transition: background-color .5s;

      @media only screen and (max-width: 824px) {
        width: 90%;
      }

      .header {
        margin: 20px;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: default;
        user-select: none;
      }

      .content {
        overflow: auto;
        padding: 0 20px;

        &#informations {
          white-space: pre-line;
        }
      }

      .footer {
        margin: 20px;
        text-align: right;
        user-select: none;

        .button {
          border-radius: 2px;
          padding: 5px 20px;
          background: royalblue;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}