/*
red         #ef5350
pink        #e91e63
purple      #ab47bc
deep-purple #7e57c2
indigo      #3f51b5
blue        #2196f3
light-blue  #03a9f4
cyan        #00bcd4
teal        #009688
green       #4caf50
light-green #7cb342
lime        #c0ca33
yellow      #f9a825
amber       #ffa000
orange      #fb8c00
deep-orange #ff7043
brown       #795548
grey        #757575
blue-grey   #546e7a
white       #ffffff
*/

.red         { --primary-color: #ef5350; --font-color: #ffffff; }
.pink        { --primary-color: #e91e63; --font-color: #ffffff; }
.purple      { --primary-color: #ab47bc; --font-color: #ffffff; }
.deep-purple { --primary-color: #7e57c2; --font-color: #ffffff; }
.indigo      { --primary-color: #3f51b5; --font-color: #ffffff; }
.blue        { --primary-color: #2196f3; --font-color: #ffffff; }
.light-blue  { --primary-color: #03a9f4; --font-color: #ffffff; }
.cyan        { --primary-color: #00bcd4; --font-color: #ffffff; }
.teal        { --primary-color: #009688; --font-color: #ffffff; }
.green       { --primary-color: #4caf50; --font-color: #ffffff; }
.light-green { --primary-color: #7cb342; --font-color: #ffffff; }
.lime        { --primary-color: #c0ca33; --font-color: #ffffff; }
.yellow      { --primary-color: #f9a825; --font-color: #ffffff; }
.amber       { --primary-color: #ffa000; --font-color: #ffffff; }
.orange      { --primary-color: #fb8c00; --font-color: #ffffff; }
.deep-orange { --primary-color: #ff7043; --font-color: #ffffff; }
.brown       { --primary-color: #795548; --font-color: #ffffff; }
.grey        { --primary-color: #757575; --font-color: #ffffff; }
.blue-grey   { --primary-color: #546e7a; --font-color: #ffffff; }
.white       { --primary-color: #ffffff; --font-color: #555555; }

div.nav, .float-button {
  background-color: var(--primary-color);
}
body {
  color: var(--font-color);
}
div.nav svg path, .float-button svg path {
  fill: var(--font-color);
}

div.nav, svg path { transition: background-color .5s, color .5s, fill .5s; }
div.fix-menu, .button-set { color: black; }

